<div id="breadcrumbs">
    <a href="/">Home</a>
    {{ $path := "" }}
    {{ range first (sub (len (split .RelPermalink "/")) 2) (split .RelPermalink "/") }}
        {{ if gt (len . ) 0 }}
            {{ $path = (print $path "/" .) }}
            » <a href={{ $path }}>{{ humanize (replace . "posts" "blog") }}</a>
        {{ end }}
    {{ end }}
</div>
