<footer>
    <h5 style="float: left">{{ .Site.Params.footer }}</h5>
    {{ if .Page.IsPage }}
        <h5 style="float: right"><a href={{ .Site.Params.commit_url }}{{ .GitInfo.Hash }}>Updated on {{ .Page.Lastmod.Format "Mon, Jan 2, 2006" }}</a></h5>
    {{ end }}
    <div style="clear: both"></div>
</footer>
