<head>
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" media='(prefers-color-scheme: light)' href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/styles/nnfx.min.css">
    <link rel="stylesheet" media='(prefers-color-scheme: dark)' href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/styles/vs2015.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
